@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <h2>Claim Definitions</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Attributes
            </th>
            <th>
                Issuer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claimDefinition in (List<ClaimDefinition>)ViewData["ClaimDefinitions"])
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => claimDefinition.CredentialSchema.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => claimDefinition.CredentialSchema.Attributes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => claimDefinition.User.UserName)
                </td>
                <td>
                    <a href="ClaimDefinitions/@claimDefinition.Id/Apply">Request</a>
                </td>
            </tr>
        }
    </tbody>
</table>


