@model IEnumerable<WaultBlock.Models.UserIndyClaim>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h2>My Claims</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Issuer
            </th>
            <th>
                Status
            </th>
            <th>
                Last Updated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaimDefinition.CredentialSchema.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaimDefinition.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
            </tr>
        }
    </tbody>
</table>
